<div class="container my-3">
    <!--
    <div class="my-3">
        <form class="bg-light">
            <div class="form-group row">
                <label class="col-form-label col-sm-2 col-sm-offset-1">Nombre</label>
                <div class="col-sm-3">
                    <input type="text" name="nombre" class="form-control">
                </div>
                <label class="col-form-label col-sm-2 text-left">Activo</label>
                <div class="col-sm-3">
                    <select class="form-control">
                        <option>Si</option>
                        <option>No</option>
                    </select>
                </div>
            </div>

            <div class="row justify-content-center">
                <button type="button" class="btn btn-primary">
                    <span class="fas fa-search"></span>
                    Consultar
                </button>
            </div>
        </form>
    </div>
    -->

    <div class="my-5">
        <a type="button" class="btn btn-outline-success" [routerLink]="['/articulos/form']">Agregar+</a>
        <table class="table mt-2">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Familia</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Activo</th>
                    <th scope="col">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let articulo of articulos">
                    <th scope="row">{{articulo.IdArticulo}}</th>
                    <td>{{articulo.Nombre}}</td>
                    <td>{{articulo.Precio | currency}}</td>
                    <td>{{articulo.ArticulosFamilia.Nombre}}</td>
                    <td>{{articulo.Stock}}</td>
                    <td>{{articulo.Activo? 'Si' : 'No'}}</td>
                    <td>
                        <a class="btn btn-sm btn-outline-info" type="button" [routerLink]="['/articulo', articulo.IdArticulo]">Ver</a>
                        <button class="btn btn-sm btn-outline-primary mx-1" type="button">Editar</button>
                        <button class="btn btn-sm btn-outline-danger" type="button">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>