<div class="jumbotron">
    <h1 class="display-4">Pymes App</h1>
    <p class="lead">Aplicación para el manejo de articulos de una Pymes.</p>
    <hr class="my-4">
    <p>Aplicación con fines de aprendizaje que tiene como objetivo el manejo de artículos de una pequeña pymes. Será implementada con el framework de JavaScript 'Angular'. Proyecto pymes creado por la cátedra de Programación de Aplicaciones Visuales II,
        Universidad Tecnológica Nacional - Facultad Regional Córdoba, a ser implementado por los alumnos de la materia.
    </p>
</div>