<div class="container">
    <div class="col-sm-2 mt-2">
        <a class="btn btn-outline-primary" [routerLink]="['/articulos']">Volver</a>
    </div>

    <div class="m-3 card bg-dark text-white" *ngIf="articulo">
        <div class="card-header" text-primary>Articulo</div>
        <div class="card-body">

            <form autocomplete="off" [formGroup]='form' (ngSubmit)="guardar()">

                <div class="form-group row">
                    <label class="col-form-label col-sm-2">Nombre</label>
                    <div class="col-sm-6">
                        <input [class.is-invalid]="nombreNoValido" type="text" class="form-control" name="nombre" placeholder="Nombre" formControlName="nombre">
                        <span *ngIf="nombreNoValido" class="text-danger">El nombre del articulo debe tener al menos 4 caracteres.</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-2">Precio</label>
                    <div class="col-sm-6">
                        <input [class.is-invalid]="precioNoValido" type="text" class="form-control" name="precio" placeholder="Precio" formControlName="precio">
                        <span *ngIf="precioNoValido" class="text-danger">El precio es obligatorio.</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-2">Codigo de barra</label>
                    <div class="col-sm-6">
                        <input [class.is-invalid]="codigoBarraNoValido" type="text" class="form-control" name="codigoBarra" placeholder="Codigo de barra" formControlName="codigoBarra">
                        <span *ngIf="codigoBarraNoValido" class="text-danger">El código de barra es obligatorio.</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-2">Familia</label>
                    <div class="col-sm-6">
                        <select [class.is-invalid]="familiaNoValido" [compareWith]="comparar" type="text" class="form-control" name="familias" formControlName="articulosFamilia">
                            <!-- <option selected [ngValue]="null">Seleccionar familia</option>                             -->
                            <option *ngFor="let familia of familias" [ngValue]="familia">
                                {{familia.nombre}}
                            </option>
                        </select>
                        <span *ngIf="familiaNoValido" class="text-danger">El articulo familia es obligatorio.</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-2">Stock</label>
                    <div class="col-sm-6">
                        <input [class.is-invalid]="stockNoValido" type="text" class="form-control" name="stock" placeholder="Stock" formControlName="stock">
                        <span *ngIf="stockNoValido" class="text-danger">El stock es obligatorio.</span>
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-2">Fecha alta</label>
                    <div class="col-sm-4">
                        <input type="text" class="form-control" name="nombre" formControlName="fechaAlta">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-form-label col-sm-2">Activo</label>
                    <div class="col-sm-6">
                        <select disabled type="text" class="form-control" name="activo" formControlName="activo">
                            <option *ngFor="let opcion of opcionesActivo" [ngValue]="opcion.id">
                                {{opcion.nombre}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="col-sm-2">
                    <button *ngIf="!articulo.id else elseBlock" type="submit" class="btn btn-success">Crear</button>
                    <ng-template #elseBlock>
                        <button class="btn btn-primary" type="submit" (click)="update()">Editar</button>
                    </ng-template>
                </div>

            </form>

        </div>
    </div>
</div>